* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1d1d;
}

.topbar-pc {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    display: flex;
    position: fixed;
    background-color: #1d1d1d56;
}

@media (max-width: 1280px) {
    .topbar-pc div img {
        width: 180px;
    }           
}


@media (min-width: 1280px) {
    .topbar-pc div img {
        width: 60px;
    }           
}
.topbar-pc div img {
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 100%;
    box-shadow: #000 0px 0px 12px;
}

.space-top {
    width: 100%;
    height: 90px;
    display: block;
}

.content {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
}

.content::after {
    content: 'Scroll ⬇';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    color: #fff;
    font-family: 'Roboto';
    font-size: 18px;
    animation: linear infinite up-down 1s;
}

@keyframes up-down {
    0%, 100% {
        transform: translateY(0px);
    }
    33%, 50%, 90% {
        transform: translateY(-10px);
    }
}